fastapi==0.111.0
uvicorn==0.29.0
python-dotenv==1.0.1
asyncpg==0.29.0
pydantic==2.9.2
numpy==1.26.4
pyaml-env==1.2.1
redis==5.1.1

# rag
openai==1.55.3
anthropic==0.35.0
cohere==5.8.0
groq==0.9.0
ollama==0.4.4
tiktoken==0.8.0

# agents
#git+https://github.com/K-Schubert/swarm.git#egg=swarm

# commands
deepl==1.19.1

# indexing
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.2
asyncio==3.4.3
haystack-ai==2.2.3
aiohttp==3.9.5
pypdf==4.2.0
trafilatura==1.11.0
apscheduler==3.11.0

# sqlAlchemy
pgvector
SQLAlchemy
psycopg2-binary

# logging
langfuse==2.44.0
