OPENAI_API_KEY=xx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
POSTGRES_USER=admin
POSTGRES_PASSWORD=pg_password
POSTGRES_DB=pg_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=example@email.com
PGADMIN_DEFAULT_PASSWORD=pgadmin_password
REACT_APP_QUERY_AUTOCOMPLETE_API_URL=http://autocomplete:8000
CORS_ALLOWED_ORIGINS=http://localhost:3000